h1 {
  font-size: var(--size-sixth);
  line-height: 1em;
  font-weight: bold;
}

h2 {
  font-size: var(--size-fifth);
  line-height: 1.2em;
}

h3 {
  font-size: var(--size-fourth);
  line-height: 1.2em;
}

h4 {
  font-size: var(--size-third);
  line-height: 1em;
}
