:root {
  --color-blackberry: #202040;
  --color-blueberry: #202060;
  --color-acai: #602080;
  --color-tutifruti: #b030b0;
  --color-cleam: #eae7af;
  --color-coconut: #f2f2f2;
  --color-white: #fff;
}
